body {
  height: 98vh;
  background-image: url(../images/ff-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: auto;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
}

.modal-content {
  background-color: springgreen;
  border: 5px solid cornflowerblue;
  text-align: center;
  width: 50%;
  padding: 10px;
}

.victory-content {
  text-align: center;
  width: 90%;
  height: 90vh;
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/victory.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gameover-content {
  text-align: center;
  color: white;
  width: 90%;
  height: 90vh;
  background-image: url(../images/gameover.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#resetGameOver {
  margin: 0 30px 40px;
}

.row-1 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
}

.row-2 {
  width: 100%;
  height: 80%;
  display: flex;
  margin-bottom: .5rem;
}

.row-3 {
  width: 100%;
  height: 8%;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

.col-1 {
  width: 8%;;
}

.col-2 {
  width: 16%;;
}

.col-3 {
  width: 24%;;
}

.col-4 {
  width: 32%;;
}

.col-5 {
  width: 40%;;
}

.col-6 {
  width: 48%;;
}

.col-7 {
  width: 56%;;
}

.col-8 {
  width: 64%;;
}

.col-9 {
  width: 72%;;
}

.col-10 {
  width: 80%;;
}

.col-11 {
  width: 88%;;
}

.col-12 {
  width: 96%;;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.menu-layout {
  box-sizing: border-box;
  width: 75%;
  background-color: #050177;
  border: 3px solid #C2C5C1;
  border-style: outset;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.hp-layout {
  box-sizing: border-box;
  width: 100%;
  background-color: #050177;
  border: 3px solid #C2C5C1;
  color: white;
  text-align: center;
}

.menu-layout > * {
  margin: 0;
}

#changeDifficulty, #hint {
  cursor: pointer;
}

.hp-layout > * {
  margin: 0;
}

#hp-bar {
  width: 100%;
  height: 20px;
  border-radius: 5%;
  position: relative;
  background-color: #52638C;
  margin-bottom: 10px;
}

#hp-current {
  background-color: #82D1FD;
  border-radius: 5%;
  height: 20px;
  position: absolute;
  transition: width 2s;
}

card {
  width: 16%;
  height: 30%;
  position: relative;
  cursor: pointer;
  transition: 0.8s;
  perspective: 1000px;
  transform-style: preserve-3d;
  box-sizing: border-box;
  border: 5px solid white ;
}

.flip {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.hintCard {
  border: 5px solid chartreuse;
}

#hintText {
  text-transform: capitalize;
}

button {
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
}

.bgm {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}

.card-back {
  background-image: url(../images/ff-front.jpeg);
}

.buster-sword {
  background-image: url(../images/bustersword.png);
}

.revolver {
  background-image: url(../images/revolver.png);
}

.pinwheel {
  background-image: url(../images/pinwheel.jpg);
}

.mage-masher {
  background-image: url(../images/masher.png);
}

.brotherhood {
  background-image: url(../images/brotherhood.png);
}

.blazefire {
  background-image: url(../images/blazefire.png);
}

.braveheart {
  background-image: url(../images/braveheart.png);
}

.hardedge {
  background-image: url(../images/hardedge.png);
}

.broadsword {
  background-image: url(../images/broadsword.png);
}

.hidden {
  display: none;
}

@media screen and (max-width: 1112px) {
  .menu-layout > h2 {
    font-size: 1.3em;
  }
  .menu-layout:nth-child(5) {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  .row-1 {
    height: 5%;
    margin-bottom: .3rem;
  }

  .row-2 {
    height: 85%;
    display: block;
    margin-bottom: 1.5rem;
  }

  .aside {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: .1rem;
  }

  .menu-layout {
    width: 32%;
    margin-bottom: 10px;
  }

  .menu-layout:first-child {
    display: none;
  }

  .menu-layout > h2 {
    font-size: 1.0em;
  }

  .menu-layout:nth-child(5) {
    font-size: .9em;
  }

  .menu-layout:nth-child(7) {
    align-self: stretch;
  }

  #gameCards {
    width: 100%;
    align-content: space-around;
    height: 85%;
  }

  card {
    width: 16%;
    height: 24%;
    border: 1px solid white ;
    background-position: center;
  }
}

@media screen and (max-width: 667px) {
  .row-1 {
    height: 5%;
    margin-bottom: .3rem;
  }

  .row-2 {
    height: 75%;
    display: block;
    margin-bottom: 1rem;
  }

  .aside {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: .1rem;
  }

  #gameCards {
    width: 100%;
    align-content: space-between;
    height: 85%;
  }

  .menu-layout {
    width: 16%;
    margin-bottom: 10px;
  }

  .menu-layout:first-child {
    display: none;
  }

  .menu-layout > h2 {
    font-size: 1.0em;
  }

  .menu-layout:nth-child(5) {
    font-size: .9em;
  }

  .menu-layout:nth-child(7) {
    align-self: stretch;
  }

  .title {
    font-size: 1.5rem;
    margin: 0;
  }
  .bgm {
    top: 0px;
    left: 3px;
  }

  card {
    width: 16%;
    height: 33%;
    border: 1px solid white ;
    background-position: center;
  }

  .hp-layout {
    font-size: .8em;
  }

  #hp-bar, #hp-current {
    height: 10px;
  }
}

@media screen and (max-width: 460px) {
  .row-1 {
    height: 5%;
    margin-bottom: 0;
  }

  .row-2 {
    height: 85%;
    display: block;
    margin-bottom: .4rem;
  }

  .menu-layout:first-child {
    display: none;
  }

  .aside {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .menu-layout {
    width: 30%;
    margin-bottom: 10px;
  }

  .menu-layout > h2 {
    font-size: 1.0em;
  }

  #gameCards {
    width: 100%;
    align-content: space-around;
  }

  .menu-layout:nth-child(7) {
    align-self: stretch;
  }

  #hintText {
    font-size: 1.0em;
  }

  #gameCards {
    height: 80%;
  }

  card {
    width: 26%;
    height: 17%;
    border: 1px solid white ;
    background-position: center;
  }

  .hintCard {
  border: 1px solid chartreuse;
}

  .title {
    font-size: 1.5rem;
  }

  .bgm {
    top: 0px;
    left: 5px;
  }

  #hp-bar, #hp-current {
    height: 10px;
  }
}
